<main>
  <router-outlet class="mb-5"></router-outlet>
</main>
<footer class="footer-webpage bg-black bg-opacity-50 text-light mt-5 py-1">
 <p class="letra-footer text-warning text-opacity-50">TheVolkner - 2022 | Basado en <a href="https://cnnespanol.cnn.com/" target="_blank" class="text-warning text-opacity-75 text-decoration-none">CNN en Español</a></p>
  <p class="letra-footer">
    <a href="https://www.linkedin.com/in/omar-arvelo-578a491a2/" class="text-warning text-opacity-50" target="_blank"><i class="fa-brands fa-linkedin-in mx-2"></i></a>|
    <a href="https://github.com/TheVolkner" class="text-warning text-opacity-50" target="_blank"><i class="fa-brands fa-github mx-2"></i> </a>|
    <a href="https://www.instagram.com/omarblz81/" class="text-warning text-opacity-50" target="_blank"><i class="fa-brands fa-instagram mx-2"></i></a>|
  </p>
</footer>

