#filasNoticias{
  min-height: calc(100vh);
}

.letra-url{
   font-size: 0.75em;
}

.letra-title{
  font-size: 1.2em;
}

.letras-description{
  font-size: 0.9em;
}

.cursor-manita{
  cursor:pointer;
}
